@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

.resultPage{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 750px;
    position: relative;
    background: #AF9CF3;
    background-image: url('backgroundImg.svg');
    background-repeat: no-repeat;
}

.resultContainer{
    width: 750px;
    height: 1390px;
    position: absolute;
    top: 234px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultContainer p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

.guage{
    position: relative;
    width: 480px;
    height: 480px;
}

.progress{
    position: absolute;
    width: 100%;
    height: 100%;
    border: .1rem solid #FFFFFF;
    border-bottom: 1.5rem solid #FFFFFF;
    border-radius: 50%;
    outline: .2rem solid #FFFFFF;
    outline-offset: .4rem;
    overflow: hidden;
}

.progress::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: #EBEDF5;
    border-radius: 50%;
    z-index: 200;
}

.progress::after{
    position: absolute;
    content: '';
    top: 85%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 85%;
    height: 50%;
    background-color: #FFFFFF;
    z-index: 400;
}

.bar{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(0deg, #FF3B3F  0%, #FFD033 47.9%, #44B77B 100%);
    transform: rotate(90deg);
    transform-origin: center right;
}

.bar2{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EBEDF5;
    box-shadow: 0px 12px 15px 0px #0000001A;
}

.bar2 .resultPercentage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 500;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 67px;
    border: 2px solid #EBEDF5;
    padding: 30px;
}

.needle{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 40%;
    background-color: #000000 !important;
    clip-path: polygon(50% 0, 50% 0, 65% 100%, 35% 100%);
    transform-origin: bottom center;
    animation: rotate 2s ease-in-out;
    z-index: 300;
}

.result{
    position: absolute;
    top: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.correctDiv{
    margin-bottom: 20px;
    width: 670px;
    height: 130px;
    border-radius: 25px;
    background: #9cf9c971;
    margin-top: 5px;
    display: flex;
    align-items: center;
    z-index: 200;
}

.incorrectDiv{
    width: 670px;
    height: 130px;
    border-radius: 25px;
    background: #ef767852;
    margin-top: 5px;
    display: flex;
    align-items: center;
    z-index: 200;
}

.resultCheckBox1{
    width: 48px;
    height: 48px;
    margin-left: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
    background: #44B77B;

}
.resultCheckBox2{
    width: 48px;
    height: 48px;
    margin-left: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
    background: #FF3B3F;
}

.resultQueNo{
    margin-right: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 30px;
}

.resultText{
    font-family: 'Nunito Sans', sans-serif;
    color: #00000079;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
}

.startAgainBtn{
    width: 670px;
    height: 120px;
    position: absolute;
    top: 450px;
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 67px;
    background: #FF3B3F;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border: none;
}

.startAgainBtn:hover {
    cursor: pointer;
}

@keyframes rotate {
    0%{
        transform: rotate(-90deg);
    }
}

@media (max-width: 477px)  {
    .resultPage{
        width: 750px;
        height: 1600px;
    }
}